<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot | The Coding Hubs</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='chatbot/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
    <body>
    <button id="chatbot-toggle-btn"><img src="chatbot.png" alt="buttonpng" /></button>
    <div class="chatbot-popup" id="chatbot-popup">
        <div class="chat-header">
            <span>Chatbot | <a href="https://www.thecodinghubs.com/" target="_blank" >The Coding Hubs</a></span>
            <button id="close-btn">&times;</button>
        </div>
        <div class="chat-box" id="chat-box"></div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Type a message...">
            <button id="send-btn">Send</button>
        </div>
        <div class="copyright">
            <a  href="https://www.thecodinghubs.com/" target="_blank">Build By Coding Hubs © 2024</a>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='chatbot/script.js')}}"></script>
</html>